/* ============================================
   중세 마을 경영 게임 - CSS 모듈 허브
   Phase 0 색감 리스킨 - 중세 양피지 RPG 테마
   ============================================ */

/* 1. 디자인 토큰 */
@import url('modules/_variables.css');

/* 2. 전역 초기화 */
@import url('modules/_reset.css');

/* 3. 공통 애니메이션 (다른 모듈에서 참조) */
@import url('modules/_animations.css');

/* 4. 레이아웃 (컨테이너, 헤더, 상태바, 계절) */
@import url('modules/_layout.css');

/* 5. 자원 바 & 아이콘 */
@import url('modules/_resources.css');

/* 6. 탭 네비게이션 */
@import url('modules/_tabs.css');

/* 7. 모달 (공통) */
@import url('modules/_modals.css');

/* 8. 건물 (건설, 해금, 철거, 강화, 일꾼) */
@import url('modules/_buildings.css');

/* 9. 인구 통계 */
@import url('modules/_population.css');

/* 10. 행복도 */
@import url('modules/_happiness.css');

/* 11. 교역 */
@import url('modules/_trade.css');

/* 12. 연구 */
@import url('modules/_research.css');

/* 13. 업적 */
@import url('modules/_achievements.css');

/* 14. 왕실 조공 */
@import url('modules/_tribute.css');

/* 15. 용병 */
@import url('modules/_mercenary.css');

/* 16. 통계 */
@import url('modules/_stats.css');

/* 17. 생산 체인 */
@import url('modules/_production.css');

/* 18. 금화 소비 / 사운드 토글 */
@import url('modules/_actions.css');

/* 19. 이벤트 배너 */
@import url('modules/_events.css');

/* 20. 이벤트 로그 */
@import url('modules/_event-log.css');

/* 21. 메시지 박스 & 경고 */
@import url('modules/_messages.css');

/* 22. 튜토리얼 */
@import url('modules/_tutorial.css');

/* 23. 푸터 */
@import url('modules/_footer.css');

/* 24. 비주얼 노벨 */
@import url('modules/_vn.css');

/* 25. 게임 설명서 */
@import url('modules/_manual.css');

/* 26. 반응형 (맨 마지막 - 오버라이드 보장) */
@import url('modules/_responsive.css');